<a href="https://www.unicef.org/emergencies/conflict-ukraine-pose-immediate-threat-children">
    <div id="Whole_wrapper">
        
        <div id="wrapper1">
            <p>WE</p>
        </div>

        <div id="wrapper2">
            <p id="letter_n_top">N</p>
            <div id="position1_top">
                <p id="letter_e_top">E</p>
                <p id="letter_o_top">O</p>
            </div>
            <div id="position2_top">
                <p id="letter_e_top2">E</p>
                <p id="letter_o_space"></p>
            </div>
            <div id="position3_top">
                <p id="letter_d_top2">D</p>
                <p id="letter_d_space2"></p>
            </div>
        </div>

        <div id="wrapper3">
            <div id="position_1">
                <p id="letter_p">P</p>
                <p id="letter_space"> </p>
            </div>
            <div id="position_2">
                <p id="letter_e">E</p>
                <p id="letter_w">W</p>
            </div>
            <p id="letter_a">A</p>
            <div id="position_4">
                <p id="letter_c">C</p>
                <p id="letter_r">R</p>
            </div>
            <div id="position_5">
                <p id="letter_2e">E</p>
                <p id="letter_space2"> </p>
            </div>
        </div>
    </div>
</a>